.paneLabel{
    -fx-background-color: #2f2849;
    -fx-border-width:1px;
    -fx-border-color:#4e4d52;
    -fx-border-radius:8px;

}
.labelPaneText{
    -fx-text-alignment: center;
    -fx-margin-left: 10px ;
    -fx-font-size: 14px;
    -fx-border-width: 100%;
    -fx-font-style: bold;
    -fx-font-family: Verdana;
}