.scroll-pane{
    -fx-background-color: transparent;
}
.scroll-pane .scroll-bar * {
    -fx-background-color: #181429;
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}